{% extends  'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog! </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illo consequuntur quibusdam non. Aliquid dolore blanditiis dicta laborum asperiores sequi consequatur ad, natus unde a impedit deleniti cupiditate minima, fugiat voluptates nostrum adipisci architecto? Possimus asperiores ea sunt quidem nemo!</p>
<p>Maiores inventore quis magni! At sequi quaerat commodi consectetur, necessitatibus aut ipsam, provident itaque eligendi saepe rem libero suscipit quidem eius dignissimos harum non qui enim deleniti blanditiis, aliquam soluta. Molestias consequatur numquam, delectus inventore rem recusandae minus quia doloribus.</p>
 
{% endblock %}